/* 21 Style 3 */
:root {
  --Dark: 0, 0, 0;    /* Blueberry  6B7A8F    107,122,143  */
  --Colour2: 153, 102, 153; /* Citrus     F7C331    247,195,49   */
  --Colour1: 0, 102, 153; /* Apricot    F7882F    247,136,47   */
  --Light: 204, 204, 204;   /* Apple Core DCC7AA    220,199,170  */
}
