[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#main-page {
    position: absolute;
    margin-top: 100px;
}

.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

html {
    font-family: "Lucida Sans", sans-serif;
    overflow-y: scroll;
}

#player-container {
    height: 85px;
    overflow: hidden;
}

#tracklist-container {
    height: 0;
    display: none;
    z-index: 3;
    background-color: #fefefe;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: default;
}


/*--------------------------
Sidebar navigation styles
 --------------------------*/

.nav {
    background-color: #eaeaea;
    padding: 5px 0 5px 0;
    height: 100%;
}
.nav-link {
    padding: 15px;
    font-size: 1.8em;
}
.nav-link.active {
    background-color: white;
    margin-left: 5px;
}


/*-------------------------------------
DataTables Styles
 -------------------------------------*/
div.slider {
    display: none;
}
table.dataTable tbody td.no-padding {
    padding: 0;
}
.gi-1-3x{
    font-size: 1.3em;
}

.icon-minus-circled {
    color: red;
}
.icon-plus-circled {
    color: green;
}
.searchStyle {
    padding: 5px 12px;
    margin-top: 9px;
}
.tracks {
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 14px;
}



/*------------------------------------
Pictures Styles
 ------------------------------------*/

#photos {
    column-count: 4;
    column-gap: 10px;
}

#photos img {
    cursor: pointer;
}

.grid-item {
    position: relative;
}

.grid-item img {
    display: block;
    width: 100%;
    height: auto;
}

.img-overlay {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    left: 0;
    transition: 0.5s ease;
    z-index: 200;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
}

.img-overlay:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-xl {
    max-width: 95%;
}
#modal-image {
    width: auto;
    max-width: 100%;
    top: 5px;
    left: 5px;
    max-height: calc(100vh - 120px);
}
.modal {
    text-align:center;
}
.modal-dialog {
    display: inline-block;
    width: auto;
}