/* 22 Style 1 */
:root {
  --Dark: 15, 22, 38;    /* Navy Blue  0F1626  15,22,38     */
  --Colour1: 171, 152, 122; /* Leather    AB987A  171,152,122  */
  --Colour2: 255, 83, 61; /* Coral      FF533D  255,83,61    */
  --Light: 245, 245, 245;   /* Eggshell   F5F5F5  245,245,245  */
}
