[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

html {
    font-family: "Lucida Sans", sans-serif;
    overflow-y: scroll;
}

#player-container {
    height: 70px;
    overflow: hidden;
}


/*--------------------------
Sidebar navigation styles
 --------------------------*/

.nav {
    background-color: #eaeaea;
    padding: 5px 0 5px 0;
    height: 100%;
}
.nav-link {
    padding: 15px;
    font-size: 1.8em;
}
.nav-link.active {
    background-color: white;
    margin-left: 5px;
}


/*-------------------------------------
DataTables Styles
 -------------------------------------*/
div.slider {
    display: none;
}
table.dataTable tbody td.no-padding {
    padding: 0;
}
.gi-1-3x{
    font-size: 1.3em;
}

.icon-minus-circled {
    color: red;
}
.icon-plus-circled {
    color: green;
}
.searchStyle {
    padding: 5px 12px;
    margin-top: 9px;
}
.tracks {
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 14px;
}